// COLORS
$color-primary: #6e774a; 
$color-secondary: #6d7749;
$color-white: #fff;
$color-whitely: #f7f8f3;
$color-dark: #1c1c1b;
$color-black: #000;
$color-coral: coral;

// GRID
$grid-width-max: 117rem;
$gutter-horizontal: 3rem;

// MOBILE-MENU
$hamburger-y: 4rem;
$hamburger-x: 4rem;
$hamburger-size: 4rem;
$hamburger-padding: 1rem;




